.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  background: rgba(0, 0, 0, 0.5);
}

.modal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  padding: 25px;
  background: white;
  border-radius: 16px;
  min-width: 250px;
}

.close {
  position: absolute;
  top: 30px;
  right: 30px;
  border-radius: 50px;
  height: 50px;
  width: 50px;
  background-color: white;
  color: dimgrey;
  font-size: 23px;
  display: flex;
  align-content: center;
  text-align: center;
  align-items: center;
  font-weight: 700;
  justify-content: center;
  cursor: pointer;
}

.cardsContainer {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
}
.cardlink {
  text-decoration: none;
}
.card {
  padding: 5px;
  width: 250px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000000;
  border-radius: 5px;
  border: 1px solid green;
  background-color: antiquewhite;
  overflow: hidden;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 2px 2px 5px rgb(93, 129, 93);
  background-color: rgb(225, 185, 131);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.card__img {
  width: 70%;
  min-height: 0;
}

.description {
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.title,
.price,
.carddescription {
  margin: 0;
  padding: 0;
}
.classes.pricecontainer {
  display: flex;
  flex-direction: column;
}
.price,
.discountprice {
  font-size: 1.3rem;
}
.discountprice {
  font-weight: 500;
  color: rgba(255, 0, 76, 0.888);
}
.discount {
  text-decoration: line-through;
}

.btncontainer {
  display: flex;
  gap: 5px;
  width: fit-content;
  margin: auto;
}

.button {
  padding: 5px;
  display: block;
  text-decoration: none;
  color: black;
  font-weight: 500;
  cursor: pointer;
}

.button:hover {
  color: green;
}

.button.active {
  background-color: red;
  border: 1px solid black;
}
.detailedpagecontainer{
  width: 100%;
  max-width: 1280px;
  margin: auto;
}

.detailedpageheading {
  text-align: center;
}

.pricecontainer {
  display: flex;
  justify-content: space-between;
}
