* {
  box-sizing: border-box;
}

#root {
  margin: 0 auto;
  width: 100%;
}

/*---------------------------------main-page-----------------------*/

.main-link-container {
  display: flex;
  gap: 10px;
  width: 160px;
  align-items: center;
}

.main-link-img {
  width: 20px;
  height: 20px;
  background-image: url('./assets/letter.svg');
  background-position: center;
}

.main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/*---------------------------------auth-page-----------------------*/

.auth-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

.login-form {
  opacity: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 5px;
}

.login-form.loading {
  opacity: 0.5;
}

.login-form > input {
  border: 1px solid #127627;
}

.login-form > input[type='submit'] {
  margin-top: 10px;
}

/*---------------------------------reg-page-----------------------*/

.reg-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

.registration-form {
  opacity: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 300px;
  font-size: 0.8rem;
}

.registration-form.loading {
  opacity: 0.5;
}

.registration-form > div {
  display: flex;
  align-items: center;
}

.registration-form > input[type='submit'] {
  margin-top: 10px;
}

.adress,
.adress-billing {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
}

.adress > input .adress-billing > input {
  width: auto;
}

.different-shipping-address-container {
  display: flex;
  flex-direction: column;
}

#Set-different-shipping-address:checked ~ .adress-billing {
  display: flex;
}

/*---------------------------------basket-page-----------------------*/

.basket-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-goods {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*---------------------------------user-page-----------------------*/

.user-container {
  opacity: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: space-between;
  flex-direction: column;
  max-width: 900px;
  margin: 0 auto;
}

.user-container.loading {
  opacity: 0.5;
}

.user-info {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.profile-row {
  display: flex;
  flex-direction: row;
  margin: 2px 0;
  padding: 2px;
}

.profile-row-note {
  background-color: antiquewhite;
  justify-content: center;
  align-items: center;
}

.profile-row-name {
  flex-basis: 200px;
}

.profile-row-value {
  width: 100%;
  padding: 2px 5px;
  border: 1px solid white;
}

.profile-row-value.editable {
  border: 1px solid #78a37c;
  border-radius: 5px;
}

.profile-info {
  font-size: 12px;
}

.profile-tools {
  display: flex;
  justify-content: flex-end;
  margin: 5px 0;
}

.profile-group {
  padding: 5px;
}

.profile-group-body {
  border: 1px solid #e5e5e5;
  padding: 5px;
}

.profile-group-title {
  text-align: center;
}

.message {
  display: flex;
  align-content: center;
  justify-content: center;
}

.btn-profile {
  padding: 3px 5px;
  margin: 0px 3px;
  cursor: pointer;
  text-align: center;
}

.profile-return {
  background-color: red;
  border-radius: 5px;
  color: white;
}

.profile-reset {
  border: 1px solid green;
  border-radius: 5px;
}

.profile-save {
  background-color: green;
  border-radius: 5px;
  color: white;
}

.profile-edit,
.profile-password {
  border: 1px solid green;
  border-radius: 5px;
}

.profile-change-password {
  display: flex;
  flex-direction: column;
}

/*---------------------------------footer-----------------------*/

footer {
  height: 80px;
  background-color: #127627;
}

.footer-container {
  align-items: center;
  justify-content: center;
}

.footer-logo {
  color: #ffffff;
}

.error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.error-heading {
  margin: 0;
  padding: 0;
  color: rgb(255, 13, 0);
  font-size: 8rem;
}

.error-parag,
.btn {
  font-size: 2rem;
  color: #2e3846;
}
.btn {
  padding: 10px 15px;
  display: block;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  text-decoration: none;
  background-color: #105f20;
  cursor: pointer;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}

.btn_toogle {
  font-size: 0.7rem;
  padding: 5px;
  width: fit-content;
  background-color: rgb(25, 103, 103);
}

.input_error {
  color: rgb(255, 33, 33);
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  color: green;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: green;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
