#root {
  margin: 0 auto;
}

.pages {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

header {
  height: 80px;
  border-bottom: #127627 1px solid;
}

.header-container,
.footer-container,
.main-container {
  display: flex;
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.header-container {
  align-items: center;
}

.logo {
  margin: 0;
  color: #105F20;
}

.nav-list {
  display: flex;
  width: 400px;
  justify-content: space-between;
  margin: 0;
}

.nav-list_item {
  list-style: none;
}

.nav-list_item > a,
.header-link {
  text-decoration: none;
  color: #2E3846;
}

.login-registration {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 200px;
  height: 40px;
  margin-left: auto;
  background-color: #C4C4C4;
  color: #2E3846;
}

.nav-list_item > a:hover,
.header-link:hover {
  color: #FC8917;
}

main {
  flex-grow: 5;
}

.main-container {
  align-items: center;
  flex-direction: column;
}

footer {
  height: 160px;
  background-color: #127627;
}

.footer-container {
  align-items: center;
  justify-content: center;
}

.footer-logo {
  color: #ffffff;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 5px
}

.login-form > input {
  border: 1px solid #127627;
}

.login-form > input[type="submit"] {
  margin-top: 10px;
}

.registration-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 300px;
  font-size: 0.8rem;
}

.registration-form > div {
  display: flex;
  align-items: center;
}

.registration-form > input[type="submit"] {
  margin-top: 10px;
}

.adress {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
}

.adress > input {
  width: auto;
}

.error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.error-heading{
  margin: 0;
  padding: 0;
  color:rgb(255, 13, 0);
  font-size:8rem;
}
.error-parag,
.btn{
  font-size:2rem;
  color:#2E3846;
}
.btn {
  padding: 10px 15px;
  display: block;
  border-radius: 5px;
  border:none;
  color:#ffffff;
  text-decoration: none;
  background-color: #105F20;
  cursor: pointer;
  opacity:0.9;
}

.btn:hover {
  opacity: 1;
}
.btn_toogle {
  font-size: 0.7rem;
  padding: 5px;
  width: fit-content;
  background-color: rgb(25, 103, 103);
}
.input_error {
  color: rgb(255, 33, 33);
}