.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.main {
  flex-grow: 1;
  padding-bottom: 10px;
  margin-top: 25px;
}

.menu-profile {
  width: 130px;
  height: 160px;
  position: absolute;
  display: none;
  top: 60px;
  right: 75px;
  background: #fff;
  border-radius: 5%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.menu-profile.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.menu-profile-close {
  border-bottom: 1px solid #188b30;
  cursor: pointer;
  position: relative;
  height: 40px;
  width: 100%;
}

.menu-profile-close span {
  display: contents;
}

.menu-profile-close span,
.menu-profile-close span::before,
.menu-profile-close span::after {
  position: absolute;
  top: 50%;
  right: 5%;
  margin-top: -1px;
  width: 15px;
  height: 2px;
  background-color: #000;
}
.menu-profile-close span::before {
  transform: rotate(-45deg);
}

.menu-profile-close span::after {
  transform: rotate(45deg);
}

.menu-profile-close span::before,
.menu-profile-close span::after {
  content: '';
  display: block;
}

.menu-profile .logout {
  cursor: pointer;
  padding: 6px;
  background-color: red;
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  color: white;
}

.tools-container {
  display: flex;
  flex-grow: 0;
  align-items: center;
  flex-direction: row;
  align-content: center;
}

.tools {
  display: flex;
  align-items: center;
  flex-direction: row;
  align-content: center;
  padding: 0 10px;
}

.tool-icon {
  cursor: pointer;
  margin: 0 3px;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #acacac;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tool-green {
  background-color: #006600;
}

.tool-basket {
  position: relative;
}

.basket-count {
  position: absolute;
  top: -8px;
  left: 42%;
  font-size: 14px;
  color: white;
  display: flex;
  background-color: #006600;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}
