.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.header-container,
.footer-container,
.page-container {
  display: flex;
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.container {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

/*--------------------------header-start-----------------------*/

header {
  border-bottom: #127627 1px solid;
  position: relative;
  height: 80px;
}

.header-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  align-content: center;
  flex-wrap: nowrap;
}

.logo-container {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.logo {
  margin: 0;
  color: #105f20;
  padding-right: 10px;
  transition: font-size 0.3s;
}

.burger {
  display: none;
  width: 30px;
  height: 30px;
  margin-left: auto;
  background-image: url('../assets/burger.svg');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-list {
  display: flex;
  width: 400px;
  justify-content: space-between;
  margin: 0;
}

.nav-list_item {
  list-style: none;
}

.nav-list_item > a:hover,
.header-link:hover {
  color: #fc8917;
}

.header-link.active {
  color: #fc8917;
}

.search-container {
  position: fixed;
  width: 100%;
  height: 80px;
  top: -80px;
  margin: 0 auto;
  padding: 0 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  background-color: white;
  text-align: center;
}

.nav-container {
  flex-grow: 1;
}

.search-container.active {
  top: 0px;
  transition: all 0.3s;
}

.search-wrapper {
  margin: 10px auto;
  width: 100%;
}

.search-input {
  margin: 0 auto;
  display: block;
  width: 100%;
  max-width: 600px;
  height: 25px;
  transition: all 0.3s;
  border: 1px solid green;
}

.header-link {
  text-decoration: none;
  color: #2e3846;
  background-color: unset;
}

.header-link-auth {
  text-decoration: none;
  color: dimgray;
  padding: 5px;
  display: flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
}

.header-link-auth.active {
  color: #fc8917;
}

.header-link-auth.active img {
  color: #fc8917;
}

.login-registration {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 30px;
  margin-left: auto;
  /*background-color: #c4c4c4;*/
  color: #2e3846;
}

.logout {
  margin: 3px;
  cursor: pointer;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #acacac;
}

.logout img {
  cursor: pointer;
}

.signin {
  margin: 3px;
  display: block;
  cursor: pointer;
}

.signup {
  margin: 3px;
  display: block;
  cursor: pointer;
}

.login-registration {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 30px;
  margin-left: auto;
  /*background-color: #c4c4c4;*/
  color: #2e3846;
}

.logout {
  margin: 3px;
  cursor: pointer;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #acacac;
}

.logout img {
  cursor: pointer;
}

.signin {
  margin: 3px;
  display: block;
  cursor: pointer;
}

.signup {
  margin: 3px;
  display: block;
  cursor: pointer;
}

.bread-camps-container .bread-camps {
  position: absolute;
  bottom: -25px;
  height: 25px;
  font-size: 14px;
}

.menu-profile {
  width: 130px;
  height: 160px;
  position: absolute;
  display: none;
  top: 60px;
  right: 75px;
  background: #fff;
  border-radius: 5%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.menu-profile.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.menu-profile-header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.menu-profile-close {
  cursor: pointer;
  position: relative;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-profile-close span {
  display: contents;
}

.menu-profile-close span,
.menu-profile-close span::before,
.menu-profile-close span::after {
  position: absolute;
  margin-top: -1px;
  width: 15px;
  height: 2px;
  background-color: #000;
}
.menu-profile-close span::before {
  transform: rotate(-45deg);
}

.menu-profile-close span::after {
  transform: rotate(45deg);
}

.menu-profile-close span::before,
.menu-profile-close span::after {
  content: '';
  display: block;
}

.menu-profile .logout {
  cursor: pointer;
  padding: 6px;
  background-color: red;
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  color: white;
}

.tools-container {
  /*z-index: 10;*/
  display: flex;
  flex-grow: 0;
  align-items: center;
  flex-direction: row;
  align-content: center;
}

.tools {
  display: flex;
  align-items: center;
  flex-direction: row;
  align-content: center;
  padding: 0 10px;
}

.tool-icon {
  cursor: pointer;
  margin: 0 3px;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #acacac;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tool-green {
  background-color: #006600;
}

.tool-basket {
  position: relative;
}

.tool-search-close {
  position: absolute;
  right: 20px;
  top: calc(50% - 15px);
}

.basket-count {
  position: absolute;
  top: -8px;
  left: 42%;
  font-size: 13px;
  color: white;
  display: flex;
  background-color: #006600;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  justify-content: center;
  font-weight: 400;
  align-items: flex-start
}

/*--------------------------header-end-----------------------*/

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  padding-bottom: 10px;
  margin-top: 25px;
}

@media (max-width: 850px) {
  .logo {
    font-size: 1.2rem;
  }
  .burger {
    display: block;
  }
  .nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 80px;
    right: -100%;
    height: 100%;
    background-color: #127627;
    font-size: 1.5rem;
    opacity: 0.9;
    transition: right 0.5s;
    z-index: 5;
  }
  .nav.active {
    right: 0%;
    min-width: 160px;
  }
  .nav-list {
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
    padding: 10px;
  }
  .login-registration {
    margin-left: 10px;
  }
  .header-container,
  .footer-container,
  .main-container {
    padding: 0 10px;
  }
  .nav-list_item > a {
    color: #ffffff;
  }
}
